{% extends 'generic_form_layout.html' %}
{% load i18n %}
{% load styling %}

{% block form_layout %}

    <div class="group inline">
        {% field_for name %}
    </div>

    <div class="group inline">
        {% field_for date_act %}
    </div>

    <div class="group newline">
        {% field_for department %}
    </div>

    {% comment %}
    <div class="group inline">
        {% field_for create_user %}
    </div>
    {% endcomment %}

    <div class="group">
        {% field_for notes %}
    </div>

    <div style="clear: both; width=100%;"> </div>

    {% comment %}
    <script src="{{ STATIC_URL }}js/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
    <script>
       $("#id_date_act").datepicker({dateFormat: 'dd/mm/yy', changeYear: false, yearRange: '-15:+2'})
    </script>
    {% endcomment %}
{% endblock %}
