{% extends 'base.html' %}
{% load i18n %}
{% block title %} :: {% blocktrans %}Confirm inventory validation {% endblocktrans %}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div id="box">
      <div class="block" id="block-login">
        <h2>{% trans 'Inventory validation' %}</h2>
        <div class="content login">
          <form action="" method="post" enctype="multipart/form-data" class="form login">{% csrf_token %}
                <h3>{% blocktrans %}Are you sure you wish to validate: {{ object }}?{% endblocktrans %}</h3>

            <div class="group newline">
              <div class="label">
                {% trans 'Location:' %}
              </div>
              {{ object.location }}
            </div>

            <div class="group newline">
              <div class="label">
                {% trans 'Date performed:' %}
              </div>
              {{ object.date_act }}
            </div>

            <div class="group newline">
              <div class="label">
                {{form.name.label}}*
              </div>
                {{form.name}}
                {{ form.name.errors }}
            </div>

            <div class="group newline">
              <div class="label">
                {% blocktrans %}Please also upload the signed PDF of the inventory {% endblocktrans %}
              </div>
                {{ form.signed_file }}
                {{ form.signed_file.errors }}
            </div>

            <div style="clear: both; width=100%;">{{ form.non_field_errors }}</div>
            <div class="group navform wat-cf submit_button">
                <button class="button" type="submit" onclick="history.go(-2);">
                    {% trans 'Abort' %}
                </button>
                <button class="button" type="submit">
                    {% trans 'Validate' %}
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
