{% extends "page.rml" %}
{% load i18n %}
{% block title %} :: {% blocktrans %}Inventory {{ object.name }} of {{ object.date_act }}{% endblocktrans %}{% endblock %}

{% block extrastyles %}
    <blockTableStyle id="Table_1">
        <blockAlignment value="CENTER"/>
        <blockAlignment value="LEFT" start="1,0" stop="1,-1"/>
        <blockAlignment value="LEFT" start="4,0" stop="4,-1"/>
        <blockValign value="MIDDLE"/>
        <blockValign value="BOTTOM" start="0,0" stop="-1,0" />
        <blockValign value="TOP" start="0,1" stop="2,-1" />

      
        <lineStyle kind="LINEBELOW" thickness="2.0" colorName="#000000" start="0,0" stop="-1,0"/>
        <lineStyle kind="INNERGRID" thickness="0.4" colorName="gray" start="0,1" stop="-1,-1"/>
    </blockTableStyle>
    <paraStyle name="Details" fontName="Helvetica" fontSize="10.0" leading="14"
            spaceBefore="12.0" spaceAfter="26.0"/>
    <paraStyle name="Table_title" fontName="Helvetica-Bold" fontSize="11.0" leading="12"/>
{% endblock %}

{% block content %}
<title>Απογραφή: {{ object.name }}</title>
<para style="Details">{{ object.location }} στις {{ object.date_act|date:"d/m/Y" }} </para>

<para> </para>

<blockTable colWidths="20.0mm,80.0mm,15.0mm,30.0mm,40.0mm" style="Table_1">
      <tr>
        <td><para style="Table_title">Κτημ. ID</para></td>
        <td><para style="Table_title">Περιγραφή</para></td>
        <td><para style="Table_title">Ποσ.</para></td>
        <td><para style="Table_title">Κατάσταση</para></td>
        <td><para style="Table_title">Έλεγχος/σχόλια</para></td>
      </tr>
    {% for line in object.items.all %}
    <tr>
        <td>{{ line.asset.property_number }}</td>
        <td><para>{{ line.asset.item_template }} {{ line.asset.serial_number|default:'' }}</para></td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.state|default:'' }}</td>
        <td></td>
    </tr>
    {% endfor %}
    </blockTable>
{% endblock %}
