{% extends 'base.html' %}
{% load i18n %}
{% block title %} :: {% blocktrans %}Confirm inventory validation {% endblocktrans %}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div id="box">
      <div class="block" id="block-login">
        <h2>{% trans 'Inventory validation' %}</h2>
        <div class="content login">
          <form action="" method="post" enctype="multipart/form-data" class="form login">{% csrf_token %}
                <h3>{% blocktrans %}Are you sure you wish to validate: {{ object }}?{% endblocktrans %}</h3>
            <div>{% trans 'Location:' %} {{ object.location }}</div>
            <div>{% trans 'Date performed:' %} {{ object.date_act }}</div>
            <div>{% blocktrans %}Please also upload the signed PDF of the inventory {% endblocktrans %}
                <br/> {{ form.signed_file }}
            </div>
            {% if message %}<h4>{{ message }}</h4>{% endif %}

            <div class="group navform wat-cf">
              <button class="button" type="submit">
                <img src="{{ STATIC_URL }}theme/images/tick.png" alt="{% trans 'Validate' %}" /> {% trans 'Validate' %}
              </button>
              <a href="#" onclick='history.go(-2);' class="button">
                <img src="{{ STATIC_URL }}theme/images/cross.png"  alt="{% trans 'Abort' %}"/> {% trans 'Abort' %}
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>
{% endblock %}
