{% load i18n %}
{% load pagination_tags %}
{% load carts %}

<div class="content">

    <table class="inventory_compare" width="100%" >
    {% if have_pending %}
    <thead><tr><th width="*">{% trans 'At location' %}</th><th width="*">{% trans 'In inventory' %}</th></tr>
    </thead>

    <tbody>
    {% for item, status in object_list %}
        <tr>
        {% if status == 'ok' %}
            <td class="compare_ok">{{ item }}</td><td class="compare_ok">{{ item }}</td>
        {% else %}
        {% if status == 'new' %}
            <td class="compare_wrong">{{ item }}</td><td class="compare_new">{%trans 'not accounted' %}</td>
        {% else %}
        {% if status == 'missing' %}
            <td class="compare_missing">{% trans 'missing!' %}</td><td class="compare_wrong">{{ item }}</td>
        {% else %}
            <td colspan="2"> {{status}} ?? </td>
        {% endif %}
        {% endif %}
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    {% else %}{# no pending items #}
    <thead><tr><th width="50%">{% trans 'In inventory' %}</th></tr>
    </thead>
    <tbody>
    {% for item, status in object_list %}
        <tr>
        {% if status == 'ok' %}
            <td class="compare_ok">{{ item }}</td>
        {% else %}
            <td > {{item }}: {{status}}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    </table>
</div>
<div style="margin-bottom: 2em"> </div>

