<tr {% if group_fields %}class="bl_inrow"{% endif %}>
        {% for col in columns %}
        <th {% if forloop.first %}class="first_col"{% endif %}>
        {% if col.sortable %}<a href="{{ col.url }}" class="{{col.url_class}}">{% endif %}
                {{ col.name|capfirst }}
        {% if col.url_spanclass %}<span class="{{ col.url_spanclass }}"></span>{% endif %}
        {% if col.sortable %}</a>{% endif %}
        {% if col.subrows %}{% for row in col.subrows %}<br/>
                {{ row.name|capfirst }}
        {% endfor %}{%endif %}
        </th>
        {% endfor %}
    {% if sub_offset >= 0 %}
        <th class="pagination">
            {% if sub_offset_prev %}
                <a href="?{{sub_getvars}}sub_offset={{sub_offset_prev}}">Prev</a>
            {% else %}<span> Prev</span>{% endif %}
            <span>{{ sub_offset }}</span>
            {% if sub_offset_next %}
                <a href="?{{sub_getvars}}sub_offset={{sub_offset_next}}">Next</a>
            {% else %}<span> Next </span>{% endif %}
        </th>
    {% else %}
        {% if not hide_links %}<th class="">&nbsp;</th>{% endif %}
        {% if request.session.carts %}<th class="">&nbsp;</th>{% endif %}
    {% endif %}
</tr>