{% extends "base.html" %}
{% load i18n %}
{% load carts %}
{% block title %} :: {% blocktrans %}Opened cart on {{ object_name }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="content">
    {% do_action %}
    {% if action_done and not action_failed %}
    <div class="block">
        <div class="tc"><h1>{% blocktrans %}Opened cart{% endblocktrans %}</h1></div>
        
        {% comment %} {% get_object_navigation_links "cart_open_" + navigation_object_name %}
        {% if object_navigation_links %}
            <h2>{% blocktrans %}My pending actions {% endblocktrans %}</h2>
            <ul class="navigation">
                {% with 'true' as as_li %}
                    {% include 'generic_navigation.html' %}
                {% endwith %}
            </ul>
        {% endif %}
        {% endcomment %}

    {% blocktrans %}You have selected {{ object }} for further processing.
	Now you can go to any of the pages below and add items to it.
    {% endblocktrans %}
 
    </div>
    {% else %}
    <div class="block">
        {% blocktrans %} The cart could not be opened.{% endblocktrans %}
        {{ action_failed }}
    </div>
    {% endif %}
</div>
{% endblock %}
