{% load i18n %}


{% for link in object_navigation_links %}
    {% spaceless %}
    {% if as_li %}<li>{% endif %}
        <a href="{{ link.url }}" {% if link.hide_text %}title="{{ link.text|capfirst }}"{% endif %}>
            {% if link.famfam %}<span class="famfam active famfam-{{ link.famfam|default:'link' }}"></span>{% endif %}
            {% if as_li or not link.hide_text %}{{ link.text|capfirst }}{% endif %}
            {% if link.error %} - {{ link.error }}{% endif %}
            {% if link.active %}<span class="famfam active famfam-resultset_previous"></span>{% endif %}
        </a>
            {% if horizontal and not forloop.last %} | {% endif %}
    {% if as_li %}</li>{% endif %}
    {% endspaceless %}
{% endfor %}
