{% load styling %}
{% if form_type == 'details' %}
    details
{% else %}
    {% if field.errors %}<div class="fieldWithErrors">{% endif %}
    {% if False and field.field.required and not read_only %} * {% endif %}
    {% field_label_tag field %}
    {% if field.errors %}<span class="error">{% for error in field.errors %}{{ error }}{% if not forloop.last %} | {% endif %}{% endfor %}</span></div>{% endif %}
    {{ field }}
    {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}

{% endif %}