{% load styling %}
{% if form_mode == 'details' %}
    {% with "true" as read_only %}
        {% field_label_tag field %}{{ field }}
    {% endwith %}
    {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
{% else %} {%if form_mode == 'update' or form_mode == 'create' %}
    {% if field.errors %}<div class="fieldWithErrors">{% endif %}
    {% field_label_tag field %}
    {% if field.errors %}<span class="error">{% for error in field.errors %}{{ error }}{% if not forloop.last %} | {% endif %}{% endfor %}</span></div>{% endif %}
    {{ field }}
    {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
{% else %}
    Form mode: {{ form_mode }}
{% endif %}
{% endif %}