{% extends 'generic_form_layout.html' %}
{% load i18n %}
{% load styling %}

{% block form_layout %}

<div class="content">
    <div class="info">
        <div class="info-line">Παρακαλούμε συμπληρώστε τις πληροφορίες του εξοπλισμού που αφορούν το συμβάν.</div>
        <div class="info-line">Στη συνέχεια επιλέξτε Επιλογή Εξοπλισμού για να βρείτε το συγκεκριμένο εξοπλισμό που σας ενδιαφέρει.</div>
    </div>

    <div class="group newline">
        {% field_for location_src %}
    </div>
    <div class="group newline">
        {% field_for date_act %}
    </div>
    <div class="group newline">
        {% field_for name %}
    </div>
    <!-- <div class="group inline">
        {% field_for origin %}
    </div> -->
    
    {% comment %}
    <div class="group inline">
        {% field_for create_user %}
    </div>
    {% endcomment %}

    {% if items.data %}
    <div class="group newline">
        {% field_for items %}
    </div>
    {% endif %}
    <div style="clear: both; width=100%;"> </div>


    {% if validate_user.data %}
    <div class="group newline">
        {% field_for validate_user %}
    </div>

    <div class="group inline">
        {% field_for date_val %}
    </div>
    {% endif %}

    {% comment %}
    <div class="group newline">
        {% field_for stype %}
    </div>
    {% endcomment %}

    {% comment %}
    <div class="group newline">
        {% field_for state %}
    </div>
    {% endcomment %}

    
    <div class="group newline">
        {% field_for note %}
    </div>


    {% comment %}
    <div class="group newline">
        {% field_for checkpoint_src %}
    </div>

    <div class="group inline">
        {% field_for checkpoint_dest %}
    </div>
    {% endcomment %}

    <div style="clear: both; width=100%;"> </div>
    <div class="buttons-line">
        <div class="form-button">
        {% if object %}
        <button class="buttons graybtn" type="submit">
            <img src="{{ STATIC_URL }}theme/images/tick.png" />
            {% trans 'Save changes' %}
        </button>
        {% else %}
        
        <button class="buttons graybtn" type="submit">
            <img src="{{ STATIC_URL }}theme/images/tick.png" />
            {% trans 'Select Items' %}
        </button>
        {% endif %}
        <div>
    </div>
</div>
{% endblock %}
{% block submit_button %}
{% endblock %}
