{% extends 'base.html' %}
{% load i18n %}
{% block title %} :: {{ title }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div id="box">
      <div class="block" id="block-login">
        <h2>{% trans 'Movement Close' %}</h2>
        <div class="content login">
          <form action="" method="post" enctype="multipart/form-data" class="form login">{% csrf_token %}
                <h3>{% blocktrans %}Are you sure you wish to close: {{ object }}?{% endblocktrans %}</h3>

            <div class="group newline">
              <div class="label">
                {% trans 'Date performed:' %}
              </div>
              {{ object.date_act }}
            </div>

            <div class="group navform wat-cf submit_button">
                <a href="#" class="button" onclick="history.go(-2);">
                    {% trans 'Abort' %}
                </a>
                <button class="button" type="submit">
                    {% trans 'Validate' %}
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
