{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $( "#{{ wizard.form.new_category.auto_id }}" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
        $( "#{{ wizard.form.new_category.auto_id }} li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
    });
</script>
{% endblock %}

{% block pow_content %}
<div class="u2_form">
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    {{ form.new_category.errors }}
    <div id="{{ form.new_category.auto_id }}">
        <ul>
        {% for cat in form.new_category %} {# The tabs #}
            <li><a href="#{{ cat.did }}">{{ cat }}</a></li>
        {% endfor %}
        </ul>
        {% for cat in form.new_category %} {# content for each tab #}
        <div id="{{ cat.did }}">
                <h2>{{ cat }}</h2>
            {% for cat2 in cat.standalones %}
                <div id="{{ cat2.did }}"><img src="{{ MEDIA_URL }}/images/empty_img.png" />{{ cat2 }}<input type="radio" name="{{cat2.name}}" value="{{ cat2.id }}" onclick="this.form.submit()" /></div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
{% endwith %}
</div>


<div width="100%">
<p align="right">
    <input id="submit0" type="submit">
</p>
</div>

{% endblock %}

