{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

{% block pow_content %}

<div class="u2_form">
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    <p> Το Κινητό εργαστήριο περιέχει τα παρακάτω components που πρέπει να εισάγετε τα στοιχεία τους επιλέγοντας Προσθήκη. Πρέπει να γίνει πρόσθήκη των στοιχείων όλων των εξοπλισμών που επισημαίνονται με * για να μπορέσετε να προχωρήσετε στο επόμενο βήμα.</p>

    {% with f=form.iset %}
        {{ f }}

        <table class="group_3s_t1">
        <tbody>
        {% for fcat in f %}
            <tr><td class="left">{{ fcat.name}}</td><td><button type="submit" name="add-groupped" value="{{ fcat.cat_id }}">Προσθήκη</button></td></tr>
        {% endfor %}
        </tbody>
        </table>

        <h3>Προστέθηκαν</h3>
        <table class="group_3s_t2">
        <tbody>
        {% for fcat in f %}
            {% if fcat.contents %}
            <tr class="cat"><td class="left">{{ fcat.name}}</td><td>&nbsp;</td></tr>
            {% for item in fcat.contents %}
                <tr><td class="left">{{ item.item_template }}
                    {% if item.quantity != 1 %}<span class="qty">(x{{ item.quantity}})</span>{% endif %}
                    <td><span class="state_{{item.state }}"
                        {% if item.errors %} title="{{ item.htmlerrors }}"{%endif%}>
                        {% if item.state == 'ok' %}{% trans 'OK' %}
                        {% elif item.state == 'bad' %}{% trans 'Bad' %}
                        {% elif item.state == 'missing' %}{% trans 'Missing' %}
                        {% else %}{{ item.state}}{% endif %}</span></td>
                    <td><button type="submit" name="iaction" value="edit:{{ item.line_num }}" title="{%trans 'Edit' %}"><span class="famfam active famfam-pencil"></span></button></td>
                    <td><button type="submit" name="iaction" value="delete:{{ item.line_num }}" title="{%trans 'Delete' %}"><span class="famfam active famfam-cross"></span></button></td>
                </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
    {% endwith %}
{% endwith %}
</div>


<div width="100%">
<div class="submit_button" align="right">
    <button type="submit" name="wizard_goto_step" value="2">{% trans 'Add more items' %}</button>
    <input id="submit0" type="submit" value="{%trans 'Save and finish' %}">
</div>
</div>

{% endblock %}

