{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $( "#{{ wizard.form.new_category.auto_id }}" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
        $( "#{{ wizard.form.new_category.auto_id }} li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );

        $("div.cat_box div.catsel input").change(function() {
            var sel = $(this).val();
            var my_name = $(this)[0].name;
            //console.log("Radio select:", sel, my_name);

            $("div.cat_box div.catsel input").each(function(i, elem) {
                // iterate over all selections and check ones that have
                // same value but belong to sibling categories
                if (elem.name == my_name)
                    return;
                if (elem.value == sel)
                    $(elem).prop('checked', true);
                });
            if (sel == "*"){
                $("div.cat_box div.catbt").show();
            }
            else {
                $("div.cat_box div.catbt").hide();
                $("div.cat_box div.catbt."+sel).show();
            }
            });
    });
</script>
{% endblock %}

{% block pow_content %}
<div class="u2_form">
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    {{ form.new_category.errors }}
    <div id="{{ form.new_category.auto_id }}">
        <ul>
        {% for cat in form.new_category %} {# The tabs #}
            <li><a href="#{{ cat.did }}">{{ cat }}</a></li>
        {% endfor %}
        </ul>
        {% for cat in form.new_category %} {# content for each tab #}
        <div id="{{ cat.did }}" class="cat_box">
                <h2>{{ cat }}</h2>
            <div class="catsel">
                All<input type="radio" name="__catsel_{{cat.id}}" value="*" checked>&nbsp;
                Sets<input type="radio" name="__catsel_{{cat.id}}" value="bundle-group">&nbsp;
                Bundles<input type="radio" name="__catsel_{{cat.id}}" value="bundle">&nbsp;
                Equipment<input type="radio" name="__catsel_{{cat.id}}" value="equipment">&nbsp;
                Parts<input type="radio" name="__catsel_{{cat.id}}" value="part">
            </div>
            {% for cat2 in cat.standalones %}
                <div class="catbt {{ cat2.categ_class }}">
                    <button id="{{ cat2.did }}" name="{{cat2.name}}" value="{{ cat2.id }}" >
                        {% if cat2.picture %}<img src="{{ MEDIA_URL }}/{{ cat2.picture }}" />
                        {% else %}<img src="{{ MEDIA_URL }}/images/empty_img.png" />
                        {% endif %}{{ cat2 }}
                        <span>{% if cat2.categ_class == 'bundle-group' %}Set
                            {% elif cat2.categ_class == 'bundle' %}Bundle
                            {% elif cat2.categ_class == 'equipment' %}Equipment
                            {% elif cat2.categ_class == 'part' %}Part
                            {% else %}{{ cat2.categ_class }}
                            {% endif %}
                        </span>
                    </button>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
{% endwith %}
</div>


<div width="100%">
<p align="right">
    <input id="submit0" type="submit" value="{%trans 'Continue' %}" >
</p>
</div>

{% endblock %}

