{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        var explain_div = $( "#id-procurement-explain" );
        $("#id_1-procurement").change(function(){
            var $selected = $("#id_1-procurement option:selected");
            if (! ($selected && $selected.val())) {
                explain_div.text('');
                return false;
            }
            else {
                $.ajax("/contracts/" + $selected.val() +"/get_description/",
                        { 'success': function(data, status, xhr) {
                            explain_div.text(data);
                            },
                        });
            }
        });
    });
</script>
<style>
    #id-procurement-explain {
        color: #808080;
        font-size: 95%;
        padding-left: 2em;
        padding-right: 4em;
        padding-top: 0.6em;
    }
</style>
{% endblock %}

{% block pow_content %}
<div class="u2_form">
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    {% if form.non_field_errors %}
        <div class="inner">
            <div class="flash">
                <div class="message error">
                    <p onclick="$(this).parent().parent().fadeOut(); return false;">{{ form.non_field_errors }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <table class="wiz_form">

    {% with form.user_id as field %}
    <tr><th>{{ field.label }}</th>
        <td class="wf_middle"></td><td class="wf_field">{{field }}
        {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
        {% if field.errors %}
        {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        {% endif %}
        </td>
    </tr>
    {% endwith %}

    {% with form.issue_date as field %}
    <tr><th>{{ field.label }} <font color="red">*</font></th>
        <td class="wf_middle"></td><td class="wf_field">{{field }}
        {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
        {% if field.errors %}
        {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        {% endif %}</td>
    </tr>
    {% endwith %}

    {% with form.procurement as field %}
    <tr><th>{{ field.label }} <font color="red">*</font></th>
        <td class="wf_middle">&nbsp;</td><td class="wf_field">{{field }}
        {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
        {% if field.errors %}
        {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        {% endif %}
        <div class="wf_explain" id="id-procurement-explain"></div>
        </td>
    </tr>
    {% endwith %}

    {% if user.is_staff and form.department %}
    {% with form.department as field %}
    <tr><th>{{ field.label }} <font color="red">*</font></th>
        <td class="wf_middle">&nbsp;</td><td class="wf_field">{{field }}
        {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
        {% if field.errors %}
        {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        {% endif %}</td>
    </tr>
    {% endwith %}
    {% endif %}

    <tr><th>{%trans "Supplier" %} <font color="red">*</font></th>
        <td class="wf_middle">{{ form.supplier_name_or_vat.label }}</td>
        <td class="wf_field">
            {% with form.supplier_name_or_vat.0 as radio %}{% with form.supplier_vat as field %}
            <div>{{ radio.tag }} {{ radio.choice_label }}<br/>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endwith %}{% endwith %}

            <div class="u_or">{% trans 'or' %} </div>
            {% with form.supplier_name_or_vat.1 as radio %}{% with form.supplier_name as field %}
            <div>{{ radio.tag }} {{ radio.choice_label }}<br/>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endwith %}{% endwith %}
            {% if form.supplier.errors %}
                {% for error in form.supplier.errors %}<div class="error">{{ error }}</div>{% endfor%}
            {% endif %}
        </td>
    </tr>

    </table>
{% endwith %}
</div>

<div width="100%">
<p align="right">
    <input id="submit0" type="submit" value="{%trans 'Continue' %}">
</p>
</div>

{% endblock %}

