{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

{% block pow_content %}
<div class="u2_form">
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    <table class="wiz_form">

    {% with form.user_id as field %}
    <tr><th>{{ field.label }}</th>
        {% if field.errors %}
        <td colspan="2" class="wf_error">
            {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        </td>
        </tr><tr><th>&nbsp;</th>
        {% endif %}
        <td class="wf_middle"></td><td class="wf_field">{{field }}</td>
    </tr>
    {% endwith %}

    {% with form.issue_date as field %}
    <tr><th>{{ field.label }}</th>
        {% if field.errors %}
        <td colspan="2" class="wf_error">
            {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        </td>
        </tr><tr><th>&nbsp;</th>
        {% endif %}
        <td class="wf_middle"></td><td class="wf_field">{{field }}</td>
    </tr>
    {% endwith %}

    {% with form.contract as field %}
    <tr><th>{{ field.label }}</th>
        {% if field.errors %}
        <td colspan="2" class="wf_error">
            {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        </td>
        </tr><tr><th>&nbsp;</th>
        {% endif %}
        <td class="wf_middle">&nbsp;</td><td class="wf_field">{{field }}</td>
    </tr>
    {% endwith %}

    <tr><th>{%trans "Supplier" %}</th>
        <td class="wf_middle">{{ form.name_or_vat.label }}</td>
        <td class="wf_field">
            {% with form.name_or_vat.0 as radio %}{% with form.vat_supplier as field %}
            <div>{{ radio.tag }} {{ radio.choice_label }}<br/>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endwith %}{% endwith %}

            <div class="u_or"> or </div>
            {% with form.name_or_vat.1 as radio %}{% with form.name_supplier as field %}
            <div>{{ radio.tag }} {{ radio.choice_label }}<br/>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endwith %}{% endwith %}
        </td>
    </tr>

    </table>
{% endwith %}
</div>

<div width="100%">
<p align="right">
    <input id="submit0" type="submit">
</p>
</div>

{% endblock %}

