{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

{% block javascript %}
<script type="text/javascript">
    if (!window.console)  console = {log: function() {}};
    $(function() {
        $( "#step3_tabs" ).tabs();
    });
</script>
{% endblock %}
{% block pow_content %}
<div class="u2_form">
<style>
    #ss3s-1 > div {
        border: solid 2px gray;
        background: #e0e0e0;
        margin-left: 36px;
        padding: 10px;
    }
    div.found_product #{{wizard.form.item_template.auto_id}}_text {
        display: none;
    }
</style>
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    <div id="ss3s-1">
        <h3>Καταχώρηση Στοιχείων  Εξοπλισμού</h3>
        <p>Μπορείτε να καταχωρήσετε τα στοιχεία του Εξοπλισμού με δύο δυνατούς τρόπους:</p>
        {{ form.line_num }}
        {{ form.in_group }}
        <div>{% with form.item_template as it %}
            <p>Κωδικός προϊόντος:
                <input type="text" name="{{it.name}}_text" id="{{it.auto_id}}_text" value="" width="7em" />
            </p>
            {% endwith %}
            <p class="hint">Αν γνωρίζετε τον κωδικό προϊόντος (πλήρες μοντέλο ή part number),
            δοκιμάστε να τον εισάγετε παραπάνω για να αναζητηθεί στη βάση μας.
            </p>
            
        </div>
        <p align="center"> ή </p>

        <div> <p> Σύνθετη αναζήτηση με βάση τα παρακάτω στοιχεία:
                </p>
            
        Κατασκευαστής: {{ form.manufacturer }}<br/>
        {{ form.product_attributes }} <br/>
        {{form.item_template2.label}}: {{ form.item_template2 }}
        </div>
        <script>
    function update_product3(data, status, xhr){
        var pcombo = $("#{{form.item_template2.auto_id}}");
        pcombo.empty();
        pcombo.append($('<option>', {value: ''}).text('-----'));

        /* console.log("Data came! " + data.length); */
        for(i=0;i<data.length;i++){
            pcombo.append($('<option>', { value: data[i].pk }).text(data[i].repr));
        }
    }
    function update_product2(){
        var attribs = new Array();
        $("#{{form.product_attributes.auto_id}} > select").each(function() { attribs.push(this.value)});
        $.ajax("{% url ajax_lookup 'product_specs' %}", {
                'dataType': 'json',
                'data': {'term': 'foo', 'attributes': attribs,
                        'category': "{{ form.category_id }}",
                        'manufacturer': $("#{{ form.manufacturer.auto_id }}")[0].value },
                'success': update_product3});
    }

    $("#{{form.manufacturer.auto_id}}").change(update_product2);
    $("#{{form.product_attributes.auto_id}} > select").change(update_product2);

    function select_some_product(){
        var $selected = $("#{{form.item_template2.auto_id}} option:selected");
        if (! $selected) { return false; }
        
        var fake_win = new Object();
        {# /* bind fake_win to item autocompletion, so that its select() is returned */ #}
        $("#{{form.item_template.auto_id}}").autocompleteselect(fake_win);
        fake_win.select(null, {item: {pk: $selected.val(), repr: $selected.text()}});
    }
    $("#{{form.item_template2.auto_id}}").change(select_some_product);

        </script>
        <div class="found_product">
           Προϊόν: {{ form.item_template }}
            <span id="label_not_found">Δεν βρέθηκε προϊόν. </span>
        </div>
        <div id="note_not_found">Σημείωση: Σε περίπτωση που δεν βρήκατε τον εξοπλισμό που επιθυμείτε μπορείτε να επιλέξετε "Άλλο" και στο παράθυρο που θα εμφανιστεί να μας στείλετε το στοιχείο αυτό.
            <br/>
            <button type="submit" name="wizard_goto_step" value="3a">Άλλο</button>
        </div>
    </div>

    <div id="ss3s-2">
        <h3>Ποσότητα και σειριακοί αριθμοί</h3>
    <div>{{ form.quantity.label }}: {{ form.quantity }}
            {% if form.quantity.errors %}<div class="wf_error">{% for error in form.quantity.errors %}<div class="error">{{ error }}</div>{%endfor %}</div>{% endif %}
        <br/>
        {{ form.serials.label}}: <br/> {{ form.serials }}
        {% if form.serials.errors %}<div class="wf_error">{% for error in form.serials.errors %}<div class="error">{{ error }}</div>{%endfor %}</div>{% endif %}
    </div>
{% endwith %}
</div>


<div width="100%">
<p align="right">
    <input id="submit0" type="submit" value="{%trans 'Continue' %}">

</p>
</div>

{% endblock %}

