{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}
{% load online_help %}

{% block pow_content %}
<div class="u2_form">
{{ wizard.form.management_form }}

{% with wizard.form as form %}
    <table class="wiz_form">
    <tr><td colspan="3">{% help_for "view" "step3a" %}</td></tr>
    {% for field in form%}
    <tr><th>{{ field.label }}
            {% if field.field.required and not read_only %} <span style="color: red;" title="{% trans 'required' %}">*</span>{% endif %}
        </th>
        {% if field.errors %}
        <td colspan="2" class="wf_error">
            {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor%}
        </td>
        </tr><tr><th>&nbsp;</th>
        {% endif %}
        <td class="wf_middle"></td><td class="wf_field">{{field }}
            {% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

{% endwith %}
</div>

<div width="100%">
<p align="right">
    <input id="submit0" type="submit" value="{% trans 'Submit' %}">
</p>
</div>

{% endblock %}

