{% extends "po_wizard_base.html" %}
{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}
{% load online_help %}

{% block pow_content %}
<style>
    p.product {
        border: solid black 1px;
        margin: 20px;
        padding: 12px;
        font-weight: bold;

        background: rgb(240,249,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    }

    table.two_cols td {
        /*width: 50%;*/
    }
    table.two_cols td#groups_mandatory {
        /*width: 30%;*/
        max-width:350px;
        width:350px;
        vertical-align:top;
    }
    table.two_cols td#fill_in_pane {
        /*width: 70%;*/
        max-width:400px;
        width:400px;
    }

    table.two_cols th {
        /*width: 50%;*/
        font-weight: normal;
        text-decoration: underline;
        text-align: left;
        font-size: 120%;
        margin-bottom:12px;
    }

    #groups_mandatory > div, 
    #groups_optional > div{
        border-bottom: 1px solid #D9D9D9;
        padding:5px;
        margin-left:0;
        width:95%;
    }

    #groups_mandatory > div.selected, #groups_optional > div.selected {
        background: #FFFFFF;
        border:1px solid #72C9FF;
        border-radius:5px;
    }

    #groups_mandatory div.gname {
        font-size: 120%;
        font-weight: bold;
        margin-left: 0.4em;
    }
    #groups_optional div.gname {
        font-size: 120%;
        font-weight: bold;
        margin-left: 0.4em;
    }

    #fill_in_pane div.gname {
        font-size: 120%;
        font-weight: bold;
    }
    #groups_mandatory div.gname :before {
        content: '*';
        color: red;
    }
    #groups_mandatory div.on_deck {
    }
    div.on_deck > div {
        clear: both;
    }
    div.add_more {
        clear: both;
        text-align: right;
    }

    #fill_in_pane > div {
        width: 98%;
        background: #FFFFFF;
        border:1px solid #72C9FF;
        border-radius:5px;
        padding:5px;
        display: none; /* initial value, must be activated in js */
    }
    div.product_search > div { /* Product search box style */

        background: none repeat scroll 0 0 #F8F8F8;
        border: 2px solid #A7A7A7;
        margin: 20px;
        padding: 10px;
    }

    div.product_search > div .sclear {
        display: inline-block;
        float: right;
        margin-right: 10px;
    }
    div.product_search > div button.sclear {
        border: none;
        font-style: italic;
        font-size: 80%;
        color: #606060;
        text-decoration: none;
        background:transparent;
        cursor:pointer;
        display: inline;
        padding: 0px;
    }

    div.add_more > a {
        color: #32ADFF;
        text-decoration: underline;
        cursor:pointer;
        padding-right: 22px; /* for the delete icon */
    }

    div.on_deck a.part_delete {
        background-image: url("/static/images/famfamfam-silk-sprites/famfam-active.png");
        background-position: -260px -140px;
        float: right;
        height: 20px;
        overflow: hidden;
        text-indent: -9999px;
        width: 20px;
    }
    div.on_deck a.part_delete:hover {
        cursor:pointer;
    }

    table.two_cols {
        width:100%;
    }
    table.two_cols thead {
        height:50px;
    }
    a.cont_part{
        color:#1e6799;
        cursor:pointer;
        display:inline-block;
        width:90%;
        margin-left: 0.4em;
    }
     a.cont_part:hover{
        color:#32ADFF;
    }
    div#cont_parts-20 {
        margin:10px 0;
    }
    .product_search label {
        display: inline-block;
        width: 15em;
    }

    div.product_search hr {
        margin-top: 1.2em;
    }

    div.product_search .label_not_found {
        display: none;
        background-color: #FFDCA8;
        padding: 4px;
        padding-right: 4em;
    }
    div.product_search .label_not_found img {
        margin-right: 10px;
    }

    div.product_search .line_vals{
        display: none;
        background: transparent;
        border: 2px solid #a7a7a7;
    }
    div.product_search .line_vals .on_deck2 {
        background-color: #C0FFFF;
    }

    div.product_search .product_selection {
        padding-bottom: 4px;
    }

    div.product_search .product_selection.not-found {
        background-color: #FFC0C0;
    }
    div.product_search .product_selection.found.selected {
        background-color: #A7B47C;
    }
    div.product_search .product_selection.found {
        background-color: #FFDCA8;
    }

    div.product_search .note_not_found {
        margin-left: 2em;
        display: none;
    }

    div.product_search .note_not_found button {
        border:0px solid #fff;  /* needed for opera */
        border-bottom:1px solid blue;
        background:transparent;
        color:blue;
        cursor:pointer;
        display: inline;
        padding: 0px;
        white-space: normal;

    }
    div.qty_warning {
        margin-top: 4px;
        display: none;
    }
</style>

<script type="text/javascript" src="{{ STATIC_URL }}/js/ui-combobox.js"></script>
<script>

    /** Show the right pane for some category
    */
    function add_to(field_id){
        $('#groups_mandatory > div').removeClass('selected');
        $('#groups_optional > div').removeClass('selected');
        $(field_id +'_menu').addClass('selected');
        $('#fill_in_pane > div').hide();
        $(field_id).show('fast');
        $(field_id+"_part").val('');
        clear_attribs(field_id);
    }

    /** Add an optional category, display in left menu and activate on right
    */
    function add_more(html_id){
        var selected = $(html_id).val();
        if (! selected)
            return;
        $("#"+selected+"_menu").show('fast');
        add_to("#"+ selected);
    }

    /** edit part

        Will bring that part to the right pane for editing
    */
    function part_update(part_id, field_id) {
        $('#groups_mandatory > div').removeClass('selected');
        $('#groups_optional > div').removeClass('selected');
        $('#cont_parts-'+ part_id).addClass('selected');
        $('#fill_in_pane > div').hide();
        $(field_id).show('fast');
        var part_qty = $('#cont_parts-'+ part_id +' input[name="'+ field_id.substr(1)+'_part_qty"]').val();
        /* Cleanup the right pane and display our part on deck */
        clear_attribs(field_id, true);
        $(field_id + "_part").val(part_id);
        $(field_id + "_on_deck").text($('#cont_parts-' + part_id + ' > a.cont_part').text());
        $(field_id + "_qty").val(part_qty);
    }

    /** Clear the attributes form, on user's request
    */
    function clear_attribs(field_id, has_part, cat_id) {
        $(field_id + "_manuf_combo").combobox("clear", true);
        $(field_id + "_combo").empty();
        $(field_id + "_combo").combobox("clear", true);
        $(field_id + " .combo_results").text('');
        $(field_id + "_attribs option:selected").prop("selected", false);
        $(field_id + " .product_selection").removeClass("found selected not-found")
        $(field_id+ " .note_not_found").hide();
        if (has_part) {
            $(field_id+ " .label_not_found").hide();
            $(field_id+ " .line_vals").show();
        } else {
            $(field_id+ " .label_not_found").show();
            $(field_id+ " .line_vals").hide();
        }
        if ($(field_id + "_attribs div.product_attrib > select").length && cat_id)
            $.ajax("{% url product_combi_attrs %}", {
                'dataType': 'json',
                'data': { 'category': cat_id },
                'success': function(data) { update_combos(data, field_id) }
                });
        return false;
    }

    /** Remove part
        If we remove the <input> element, the part will not be submitted
        with the form
    */
    function part_delete(part_id){
        $("#cont_parts-"+part_id).remove();
    }

    function update_product3(data, field_id){
        var pcombo = $(field_id + "_combo");
        pcombo.empty();
        if (data.length)
            pcombo.append($('<option>', {value: ''}).text('-----'));
        else
            pcombo.append($('<option>', {value: ''}).text('--- Κανένα ---'));

        data.sort(function(a,b) { if ( a.repr > b.repr) return 1; if (a.repr < b.repr) return -1; return 0 });

        for(i=0;i<data.length;i++){
            pcombo.append($('<option>', { value: data[i].pk }).text(data[i].repr));
        }
        if (data.length){
            $(field_id + " .combo_results").text('('+ data.length + ')');
            $(field_id + " .product_selection").removeClass("not-found selected").addClass("found");
        }
        else {
            $(field_id + " .product_selection").removeClass("found selected").addClass("not-found");
            $(field_id + " .combo_results").text('');
        }
    }

    /** Disable all combos and attributes while waiting for ajax response */
    function freeze_parts(field_id) {
        $(field_id + "_manuf_combo").combobox("disable");
        $(field_id + "_attribs div.product_attrib > select").prop("disabled", true);
        $(field_id + "_combo").combobox("disable");
        $(field_id + "_code").autocomplete("disable");
        $(field_id + "_wait_spinner").delay(600).show('fast');
        };

    /** re-enable all element parts after ajax response */
    function thaw_parts(field_id) {
        $(field_id + "_wait_spinner").clearQueue(); // ensure we have no 'show()' queued after this
        $(field_id + "_manuf_combo").combobox("enable");
        $(field_id + "_attribs div.product_attrib > select").prop("disabled", false);
        $(field_id + "_combo").combobox("enable");
        $(field_id + "_code").autocomplete("enable");
        $(field_id + "_wait_spinner").hide();
        };

    function update_product2(field_id, cat_id){
        var attribs = new Array();
        var has_attrs = false;
        $(field_id + "_attribs div.product_attrib > select").each( function() {
                if (this.value) attribs.push(this.value);
                has_attrs = true
            });
        var manuf_value = $(field_id + "_manuf_combo")[0].value;
        // console.log("lookup specs", cat_id, attribs);

        $(field_id + "_combo").combobox("clear");
        if (! (manuf_value || attribs.length)){
            // don't perform query if no selector is specified
            // Just clear the results.
            update_product3([], field_id);

            // also reset the attributes combination
            if (has_attrs)
            $.ajax("{% url product_combi_attrs %}", {
                'dataType': 'json',
                'data': { 'category': cat_id },
                'success': function(data) { update_combos(data, field_id) }
                });
            return;
        }

        freeze_parts(field_id);
        $.ajax("{% url ajax_lookup 'product_specs' %}", {
                'dataType': 'json',
                'data': {'term': 'foo', 'attributes': attribs,
                        'category': cat_id,
                        'manufacturer': manuf_value },
                'success': function(data,status, xhr) { update_product3(data, field_id); },
                'complete': function() { thaw_parts(field_id); }
            });
        $(field_id + "_combo_results").text('?');

        if (has_attrs)
            $.ajax("{% url product_combi_attrs %}", {
                'dataType': 'json',
                'data': { 'attributes': attribs,
                          'category': cat_id,
                          'manufacturer': manuf_value
                        },
                'success': function(data) { update_combos(data, field_id) }
                });
    }

    function update_combos(data, field_id) {
        $(field_id + "_attribs select").each(
            function(){
               var sel = this;
               var atype = sel.id.split('-')[3].substr(1);
               var adata = data[atype];
               if (! adata)
                    return;
                while(sel.options.length > 1)
                    sel.options.remove(1);
                sel = $(sel);
                for(var i = 0; i < adata.length; i++)
                    sel.append($("<option>").attr("value", adata[i][0]).text(adata[i][1]));
            });
        }

    /** Read the field_combo (when changed) and update the selection
    */
    function select_some_part(field_id){
        var $selected = $(field_id +"_combo option:selected");
        if ($selected && $selected.val()) {
            select_part2(field_id, $selected.text(), $selected.val());
            $(field_id+ " .note_not_found").hide();
            $(field_id+" .label_not_found").hide();
            $(field_id + " .line_vals").show();
            $(field_id + " .product_selection").addClass('selected');
        } else {
            $(field_id + '_on_deck').text('Κανένα');
            $(field_id+ " .note_not_found").show();
            $(field_id+" .label_not_found").show();
            $(field_id + " .line_vals").hide();
            $(field_id+" .product_selection").removeClass('selected');
            return false;
        }
    }

    /** Update the selected part at both the left menu and right pane
    */
    function select_part2(field_id, sel_text, sel_val){
        // Here, we just display the text:
        $(field_id + '_on_deck').text(sel_text);
        var part_val = $(field_id+ '_part').val();
        if (part_val){
            if (part_val != sel_val){
                $("#cont_parts-"+part_val).remove();
            }
            else {
                // no need to do anything, or is there?
                return;
            }
        }
        else { // new part
        }

        // But then, we store the real value in the left pane
        var newdiv = $("<div>", {id: "cont_parts-" + sel_val});
        var newqty = $(field_id+'_qty').val();
        var str_qty = ' ';
        if (newqty != 1)
            str_qty = 'x' + newqty.toString();

        newdiv.append($("<input>", {'type': 'hidden', 
                                    name: field_id.substr(1) +'_parts',
                                    value: sel_val } ));
        newdiv.append($("<input>", {'type': 'hidden', 
                                    name: field_id.substr(1) +'_part_qty',
                                    value: newqty } ));
        newdiv.append($("<a>", {'class': 'cont_part',
                                'onclick': "part_update('" +sel_val+"', '"+ field_id+"');",
                                }).text(sel_text));
        
        newdiv.append($("<span>", {'class': 'qty'}).text(str_qty));

        newdiv.append($("<a>", {'class': 'part_delete', 'onclick': "part_delete('" +sel_val+"');"}).text('X'));

        $(field_id + '_on_deck1').append(newdiv);
        $(field_id+ '_part').val(sel_val); // update this, so that 2nd selection replaces the first
    }

    function upd_quantity(field_id) {
        var part_id = $(field_id+ '_part').val();
        var newqty = $(field_id + "_qty").val();
        $('#cont_parts-'+ part_id +' input[name="'+ field_id.substr(1)+'_part_qty"]').val(newqty);
        if (newqty != 1){
            $('#cont_parts-'+ part_id +' span.qty').text('x' + newqty.toString());
            $(field_id + "_qty_warning").show();
        }
        else{
            $(field_id + "_qty_warning").hide();
            $('#cont_parts-'+ part_id +' span.qty').text('');
        }
    }
    /** Setup some field to provide search for category

        @param field_id the html id of the field (and sub-elements)
        @param cat_id   the database id of the category
    */
    function setup_category(field_id, cat_id){
        var upd_product2 = function() {
            update_product2(field_id, cat_id);
        }
        $(field_id + "_manuf_combo").combobox();
        $(field_id + "_manuf_combo").change(upd_product2);
        $(field_id + "_attribs div.product_attrib > select").change(upd_product2);
        $(field_id + "_combo").combobox();
        $(field_id + "_combo").change(function() { select_some_part(field_id); } );
        $(field_id + "_qty").change(function() { upd_quantity(field_id); });
        $(field_id+ " .note_not_found").hide();
        $(field_id + "_code").autocomplete({
                source: "{% url ajax_lookup 'product_part' %}?category="+cat_id,
                minLength: 2,
                select: function( event, ui ) {
                    $(field_id + "_combo option:selected").prop("selected", false);
                    select_part2(field_id, ui.item.repr, ui.item.pk);
                    return false; /* Don't update the _code text */
                    }
                });
    }
</script>

<div class="u2_form">
{{ wizard.form.management_form }}

{% help_for "view" "step3b" "items" %}

{% with wizard.form as form %}

    {% for error in form.ig.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    {{ form.ig }}
{% endwith %}
</div>

<div width="100%">
<p align="right">
    <input id="submit0" type="submit" value="{% trans 'Submit' %}">
</p>
</div>

{% endblock %}

