{% load i18n %}
{% load styling %}
{% load generic_views_helpers %}

<p class="product" >
    Επιλεγμένος εξοπλισμός:<br/>
    <input type="hidden" name="{{html_id}}_item_template" value="{{item_template.id}}" />
    <input type="hidden" name="{{html_id}}_line_num" value="{{ line_num }}" />
    <input type="hidden" name="{{html_id}}_in_group" value="{{ in_group }}" />
    {{ item_template.description }}
</p>

<p class="hint">Παρακαλούμε συμπληρώστε τα εξαρτήματα του εξοπλισμού που επιλέξατε.
Για τα εξαρτήματα με <font color="red">* </font>είναι υποχρεωτική η συμπλήρωση. 
Για κάθε ένα από τα εξαρτήματα στα αριστερά επιλέξτε Προσθήκη και εισάγετε
την περιγραφή του στα δεξιά.
Δε μπορείτε να προχωρήσετε στο επόμενο βήμα, αν δεν έχετε ολοκληρώσει την
εισαγωγή των στοιχείων <strong>όλων των υποχρεωτικών</strong> εξαρτημάτων.
</p>

<table class="two_cols">
    <thead><tr><th>Υποχρεωτικά εξαρτήματα <font color="red">*</font></th>
        <th>Αναζήτηση από τον κατάλογο προϊόντων</th></tr>
    </thead>
    
    <tbody><tr><td id="groups_mandatory" width="40%">
            {% for mand in igroups %}{% if mand.mandatory %}
                <div id="{{ mand.did }}_menu"><div class="gname">{{ mand.name }}</div>
                    <div class="on_deck" id="{{mand.did}}_on_deck1">
                    {% for part, qty in mand.parts %}
                        <div id="cont_parts-{{part.id}}">
                            <input type="hidden" name="{{mand.did }}_parts" value="{{part.id}}"><input type="hidden" name="{{mand.did }}_part_qty" value="{{qty}}"><a class="cont_part" onclick="part_update('{{part.id}}', '#{{mand.did}}');">{{part.description}}</a>
                        <span class="qty">{% if qty > 1%}x{{qty}}{% endif %}</span>
                        <a class="part_delete" onclick="part_delete('{{part.id}}');">X</a>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="add_more"><a onClick="add_to('#{{mand.did}}')">Προσθήκη</a></div>
                </div>
            {% endif %}{% endfor %}
            </td>
        <td id="fill_in_pane" rowspan="4" width="60%">
            {% for mand in igroups %}
                <div id="{{mand.did}}">
                    <input type="hidden" id="{{mand.did}}_part" value="" />
                    <div class="gname">{{ mand.name }}</div>
                    <div class="product_search">
                        <!-- like step 3 -->
                        <div>
                            <p>Κωδικός προϊόντος:
                                <input type="text" id="{{mand.did}}_code" value="" width="7em" />
                            </p>
                        </div>
                        <p align="center"> ή </p>

                        <div> <p> Σύνθετη <u>αναζήτηση</u> με βάση τα παρακάτω στοιχεία: </p>
            
                            <label>Κατασκευαστής:</label>
                            <select id="{{mand.did}}_manuf_combo">
                                <option value="">------</option>
                                {% for manuf in mand.manufs  %}
                                <option value="{{manuf.id}}">{{ manuf.name}}</option>
                                {% endfor %}
                            </select>
                            <br/>
                            <div id="{{mand.did }}_attribs">
                            {% for attrib in mand.attribs %}
                                <div class="product_attrib">{{ attrib|safe }}</div>
                            {% endfor %}
                            </div>
                            <hr/>
                            <label>Βρέθηκαν <span id="{{mand.did}}_combo_results"></span>:</label> <select id="{{mand.did}}_combo" ><option value="">-----</option></select>
                        </div>
                        <div id="{{ mand.did }}_on_deck">Δεν βρέθηκε</div>
                        <div id="{{ mand.did }}_note_not_found" class="note_not_found">
                            <i>Σημείωση</i>: Σε περίπτωση που δεν βρήκατε το εξάρτημα
                            που επιθυμείτε επιλέξτε εδώ για
                            <button type="submit" name="wizard_goto_step" value="3a">αίτημα καταχώρησης νέου προιόντος</button>
                        </div>
                    </div>
                    <div class="line_vals">
                        <label for="{{mand.did}}_qty">Ποσότητα</label><input type="text" id="{{mand.did}}_qty" value="1" />
                    </div>
                </div>
            {% endfor %}
        </td>
        </tr>
        <tr><th id="title_optional">Λοιπές κατηγορίες (Προαιρετική συμπλήρωση)</th></tr>
        <tr><td id="groups_optional">
            {% for mand in igroups %}{% if not mand.mandatory %}
                <div id="{{ mand.did }}_menu" {% if not mand.parts %} style="display: none;" {% endif %}><div class="gname">{{ mand.name }}</div>
                    <div class="on_deck" id="{{mand.did}}_on_deck1">
                    {% for part, qty in mand.parts %}
                        <div id="cont_parts-{{part.id}}">
                            <input type="hidden" name="{{mand.did }}_parts" value="{{part.id}}"><input type="hidden" name="{{mand.did }}_part_qty" value="{{qty}}"><a class="cont_part" onclick="part_update('{{part.id}}', '#{{mand.did}}');">{{part.description}}</a>
                        <span class="qty">{% if qty > 1%}x{{qty}}{% endif %}</span>
                        <a class="part_delete" onclick="part_delete('{{part.id}}');">X</a>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="add_more"><a onClick="add_to('#{{mand.did}}')">Προσθήκη</a></div>
                </div>
            {% endif %}{% endfor %}


            <select id="{{ html_id }}_add_more">
                <option value="">-----</option>
            {% for opt in igroups %}{% if opt.mandatory or opt.parts %}
                {% else %}
                <option value="{{opt.did}}">{{ opt.name }}</option>
            {% endif %}{% endfor %}
            </select>
            </td>
        </tr>
    </tbody>
</table>

<script>
$(function () {
    {% for mand in igroups %}
        setup_category('#{{mand.did}}', '{{ mand.cat_id }}'); {% endfor %}
    $("#{{ html_id }}_add_more").change(function() { add_more("#{{ html_id }}_add_more");});
 });
</script>
