{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block extrastyle %}
{{ super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/ajax_select2.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/override.css" type="text/css" media="screen" />
{% endblock %}

{% block nav-global %}{% endblock %}
