{% extends 'generic_form_layout.html' %}
{% load i18n %}
{% load styling %}

{% block form_layout %}

<div class="content">
    <div class="group newline">
        {% field_for name %}
    </div>
    <div class="group inline">
        {% field_for is_bundle %}
    </div>
    <div class="group inline">
        {% field_for approved%}
    </div>
    <div class="group newline">
        {% field_for parent %}
    </div>

    <div class="group newline">
        {% field_for picture %}
    </div>

    <div style="clear:both;"> </div>
    {% for formset in formsets %}
        {% include 'category_contained_formset.html' %}
    {% endfor %}
</div>
{% endblock %}