{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}
{% block title %} :: {% trans 'About this program' %}{% endblock %}
{% block content %}

<div class="content">
    <h3 class="tc">
    {% project_name %}<br /><br />
    {% trans 'A Django based inventory and asset management system' %}<br /><br />
    <a href="http://www.github.com/rosarior/django-inventory/">http://www.github.com/rosarior/django-inventory/</a><br /><br />
    </h3>
</div>
<div class="content">
        <form action="{% url set_language %}" method="post">{% csrf_token %}
            Language:
            <select name="language">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="{% trans 'Go' %}" />
        </form>
    </div>
{% endblock %}
{% block footer %}
    <div id="footer">
        <div class="block">
            <p>Copyright &copy; 2007 Roberto Rosario.</p>
        </div>
    </div>
{% endblock %}
