{% extends "web_theme_base.html" %}
{% load i18n %}
{% load project_tags %}
{% load generic_views_tags %}
{% load generic_views_helpers %}
{% load online_help %}

{% block html_title %}{% project_name %}{% block title %}{% endblock %}{% endblock %}

{% block web_theme_stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.9.2.custom.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-grappelli-extensions.css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/famfamfam-silk-sprite.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ajax_select2.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/override.css" type="text/css" media="screen" />

    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block web_theme_javascript %}
    {% block javascript %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_select.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/formset-fix.js"></script>
{% endblock %}

{% block web_theme_user_navigation %}
{% endblock %}

{% block web_theme_main_navigation %}
{% endblock %}

{% block web_theme_secondary_navigation %}
{% endblock %}

{% block web_theme_sidebar %}
{% endblock %}


{% block web_theme_content %}
    {% if filter_form %} {% filter_form %} {% endif %}

    {% block content %}{% endblock %}
{% endblock %}

{% block web_theme_footer %}{% block footer %}
{% endblock %}{% endblock %}

