{% extends "base.html" %}
{% load project_tags %}
{% load i18n %}
{% load navigation %}
{% load carts %}

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
    #wrapper {
        width:95%;

    }
    #main {
        width:85%;
        margin-left:auto;
        margin-right:auto;
        float:none;
        overflow:auto;
    }
#main-home{
  background: none repeat scroll 0 0 #EBEBEB;
  float:left;
  width: 100%;
}

#header h1 {
  font-size: 22px;
  margin:12px 0;
}
#header {
  background-color: #025C81;
}
#header-line {
  background-color: #A7B47C;
  height:10px;
}
#main {
  background-color: #FFF;
  border-color: #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-style: solid;
  border-width: 1px;
}
#main-navigation ul li {
  border-corner-shape:bevel;
}

#main-navigation ul li.active {
    background-color: #A7B47C !important;
    border-top: 1px solid #FFFFFF;
    color: #FFFFFF !important;
}

#main-navigation ul li:hover {

    border-top: 1px solid #5C738A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

#main-navigation ul li a:hover {
  color:#025C81;
    background-color:  #A7B47C;

}


h2,h3 {
  color:#A7B47C;
}
h2 {
  font-size: 16px;
  font-weight:normal;
}
h3 {
  font-size: 14px;
}
ul li {
  list-style: none;
}
a:hover {
  color:#00a2ee;
}
.header-image {
  background-image: url(images/computer.png);
  position:absolute;
  right: 28px;
}

#dept-selection .tc {
    text-align: left;
}
    </style>
{% endblock %}

{% block web_theme_sidebar %}
{# override, keep it empty #}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="welcome-text">
        {% blocktrans %}Welcome to the Django Inventory application, where you can keep track of your equipment.{% endblocktrans %}
        </div>

        {% if user_roles %}
        <div id="dept-selection">
            <div class="tc"> {% trans 'Select department and role:' %}</div>
            <div class="block">
            <form method="POST" action="{% url select_user_role %}">
            {% csrf_token %}
            <div id="wait_for_user_role" style="display: none;">{% trans 'Updating, please wait'%}</div>
                <select id="select_user_role" name="role_id" onchange="this.form.submit()">
                    <option value="x">--------</option>
                    {% for r in user_roles %}
                    <option value="{{ r.id }}" {% if r.id == current_user_role %} selected="1" {% endif %}>
                    {{ r.department.name }} - {{ r.role.name }} </option>
                    {% endfor %}
                </select></form>
            </div>
        </div>
        {% endif %}


        <div class="tc"><h1>{{ user_profile.department.name }}</h1></div>

        <div class="block">
        {% get_object_navigation_links "start_actions" %}
        {% if object_navigation_links %}
        <div class="actions-box">
            <h2>{% blocktrans %}Available actions{% endblocktrans %}</h2>
            <ul class="navigation subtasks">
                {% with 'true' as as_li %}
                    {% include 'generic_navigation.html' %}
                {% endwith %}
            </ul>
        </div>
        {% endif %}
        {% get_object_navigation_links "my_pending" %}
        {% if object_navigation_links %}
        <div class="actions-box">
            <h2>{% blocktrans %}My pending actions {% endblocktrans %}</h2>
            <ul class="navigation subtasks">
                {% with 'true' as as_li %}
                    {% include 'generic_navigation.html' %}
                {% endwith %}
            </ul>
        </div>
        {% endif %}
        {% session_carts 1 %}
    </div>


{% comment %}
<script type="text/javascript">
function change_user_role(){
    var selected_val = $("#select_user_role option:selected").val();
    if (! selected_val)
        return false;

    $("#select_user_role").hide();
    $("#wait_for_user_role").show();

    /* response functions */
    function show_again() {
        $("#select_user_role").show();
        $("#wait_for_user_role").hide();
    }
    function on_success(data, status, xhr){
        console.log("Success!" + data.data);
        $("#select_user_role [value="+data.data + "]").prop("selected", true);
        // We have to reload, because actions may have changed:
        window.location.reload();
    }
    $("#select_user_role option:selected").prop("selected", false);

    $.ajax("{% url select_user_role %}", {
                'dataType': 'json',
                'data': {'role_id': selected_val },
                'success': on_success, 'complete': show_again,
            });
}

/* The way to do that in AJAX, but the reloading makes it redundant
    $(function () {
        $("#select_user_role").change(change_user_role);
    }); */
</script>
{% endcomment %}

{% endblock %}
