body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

/* override the one at style.css , just for the wizard */
#main {
    width: 80%;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../images/u0_normal.png');
}

.u0_container { /* change background color of the container */
    background-color: #FAFAFA;
    padding: 12px;
}

.u1 {
    left:2px;
    top:374px;
    width:782px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    left:36px;
    top:142px;
    width:484px;
    height:19px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../images/u3_normal.png');
}

.u3_container {
/*      */
    left:25px;
    top:66px;
    width:28px;
    height:27px;
}

#u3_img {
    left:-3px;
    top:-3px;
    width:34px;
    height:33px;
}

.u4 {
    left:2px;
    top:6px;
    width:24px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    left:63px;
    top:67px;
    width:109px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../images/u6_normal.png');
}

.u6_container {
    left:200px;
    top:64px;
    width:28px;
    height:27px;
}

#u6_img {
    left:-3px;
    top:-3px;
    width:34px;
    height:33px;
}

.u7 {
    left:2px;
    top:6px;
    width:24px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    left:237px;
    top:68px;
    width:80px;
    height:28px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../images/u6_normal.png');
}

.u9_container {
/*      */
    left:359px;
    top:66px;
    width:28px;
    height:27px;
}

#u9_img {
    left:-3px;
    top:-3px;
    width:34px;
    height:33px;
}

.u10 {
    left:2px;
    top:6px;
    width:24px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    left:397px;
    top:66px;
    width:65px;
    height:42px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../images/u6_normal.png');
}

.u12_container {
    
    left:523px;
    top:64px;
    width:28px;
    height:27px;
}

#u12_img {
    
    left:-3px;
    top:-3px;
    width:34px;
    height:33px;
}

.u13 {
    
    left:2px;
    top:6px;
    width:24px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    
    left:560px;
    top:66px;
    width:86px;
    height:14px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../images/u15_normal.png');
}

.u15_container {
    
    left:36px;
    top:177px;
    width:718px;
    height:501px;
}

#u15_img {
    
    left:-3px;
    top:-3px;
    width:724px;
    height:507px;
}

.u16 {
/*      */
    left:2px;
    top:242px;
    width:714px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
/*      */
    left:308px;
    top:196px;
    width:180px;
    height:25px;
    text-align: left;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    
    left:308px;
    top:265px;
    width:180px;
    height:25px;

    text-align: left;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u19 {
    
    left:307px;
    top:501px;
    width:181px;
    height:26px;
    overflow:hidden;
}

#pd0u19 {
    
    left:0px;
    top:0px;
    width:181px;
    height:26px;
    
}

.u20 {
    
    left:0px;
    top:0px;
    width:180px;
    height:25px;

    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../images/u21_normal.png');
}

.u21_container {
    
    left:654px;
    top:727px;
}

#u21_img {
    
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u22 {
    
    left:2px;
    top:4px;
    width:96px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    
    left:706px;
    top:30px;
    width:48px;
    height:15px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    
    left:60px;
    top:201px;
    width:136px;
    height:32px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    
    left:60px;
    top:269px;
    width:136px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    
    left:60px;
    top:332px;
    width:65px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    
    left:60px;
    top:476px;
    width:99px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../images/u28_normal.png');
}

.u28_container {
    
    left:512px;
    top:332px;
    width:25px;
    height:25px;
}

#u28_img {
    
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u29 {
    
    left:2px;
    top:4px;
    width:21px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../images/u28_normal.png');
}

.u30_container {
    
    left:512px;
    top:400px;
    width:25px;
    height:25px;
}

#u30_img {
    
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u31 {
    
    left:2px;
    top:4px;
    width:21px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    
    left:306px;
    top:333px;
    width:180px;
    height:22px;

    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    
    left:306px;
    top:400px;
    width:180px;
    height:22px;

    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    
    left:191px;
    top:336px;
    width:65px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    
    left:191px;
    top:400px;
    width:65px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    
    left:16px;
    top:0px;
    width:135px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    
    left:191px;
    top:476px;
    width:138px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    
    left:385px;
    top:526px;
    width:29px;
    height:22px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    
    left:16px;
    top:0px;
    width:215px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    
    left:310px;
    top:578px;
    width:181px;
    height:26px;
    overflow:hidden;
}

#pd0u42 {
    
    left:0px;
    top:0px;
    width:181px;
    height:26px;
    
}

.u43 {
    
    left:0px;
    top:0px;
    width:180px;
    height:25px;

    text-align: left;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_normal {
    background-image: url('../images/u44_normal.png');
}

.u44_container {
    
    left:472px;
    top:727px;
    width:165px;
    height:25px;
}

#u44_img {
    
    left:-3px;
    top:-3px;
    width:171px;
    height:31px;
}

.u45 {
    
    left:2px;
    top:4px;
    width:161px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    
    left:611px;
    top:30px;
    width:48px;
    height:15px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    
    left:433px;
    top:30px;
    width:168px;
    height:15px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../images/u6_normal.png');
}

.u48_container {
    left:676px;
    top:64px;
    width:28px;
    height:27px;
}

#u48_img {
    left:-3px;
    top:-3px;
    width:34px;
    height:33px;
}

.u49 {
    
    left:2px;
    top:6px;
    width:24px;
    height:16px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    
    left:714px;
    top:68px;
    width:69px;
    height:42px;

    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

/* wizard steps */
table.wiz_step_cell {
    font-family:Arial;
    font-size:11px;
    font-weight: normal;
    font-style:normal;
    text-decoration:none;
    vertical-align: middle;
    color:#000000;
}

table.wiz_step_cell td.wiz_number {
    font-size:13px;
    text-decoration:none;
    text-align: center;
    background-image: url('../images/u6_normal.png');
    background-repeat:no-repeat;
    background-position: center;
    width: 34px;
    height: 33px;
}

table.wiz_step_cell_active td {
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    vertical-align: middle;
    color:#000000;
}

table.wiz_step_cell_active td.wiz_number {
    font-size:13px;
    text-decoration:none;
    text-align: center;
    background-image: url('../images/u3_normal.png');
    background-repeat:no-repeat;
    background-position: center;
    width: 34px;
    height: 33px;
}


button.wiz_button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin-right: 15%;
}

div.cat_box div { /*step 2 epilogi eksoplismou */
    background-color: #FFFFFF;
    border-right: 1px solid #D4D4D4;
    display: inline-block;
    height: 80px;
    margin: 2px 2px 30px;
    vertical-align: top;
    width: 166px;

}

div.cat_box div:hover { /*step 2 epilogi eksoplismou boxes */
    /*
    background-color: #e9ecde;
    */
    cursor:pointer;
    box-shadow: 0 1px 5px #999999;
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */


}

div.cat_box button { /*step 2 epilogi eksoplismou text style */
    vertical-align: middle;
    background: none;
    appearance: normal;
    border: none;
    -webkit-appearance: listitem;
    -moz-appearance: normal;
    font-size: 12px;
    text-align: left;
    width: 100%;
    height: 100%;
}

div.cat_box button img {
    float: left;
    margin-right: 2px;
}

/* title */
div.u2_title p { /*color of title*/
    text-align:left;
    font-family:Arial;
    font-size:16px;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    color:#A7B47C;
}

div.u2_form { /*step 1 width:95%; instead of 100% for the content form box, change border color*/
    color: black;
    background: white;
    padding: 1em;
    border: 1px solid #EBEBEB;
    width: 95%;
    margin-bottom:10px;
}

table.wiz_form th, table.wiz_form td { /*vertical-align:top; Corrects the alignment problem with Promitheytis field*/
    text-align: left;
    width: 16em;
    vertical-align: top;
    padding-bottom: 16px;
}
table.wiz_form tr { /*vertical-align:top; Corrects the alignment problem with Promitheytis field*/
 
    margin-bottom: 16px;
}

table.wiz_form th span.description {
    display: block;
    font-weight: normal;
}

div.u_or { /*Small styling changes for "or"*/
    color: #333333;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin: 16px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

/* from jQuery-UI example, vertical tabs: */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav li {
        clear: left;
        width: 100%;
        border-bottom-width: 1px !important;
        border-right-width: 0 !important;
        margin: 0 -1px .2em 0;
        white-space: normal;
}
.ui-tabs-vertical .ui-tabs-nav { /* step 2 left tabs: change width:12em to width:13em, margin-top:0, border-bottom:0*/
    border-bottom: 0 none;
    float: left;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.1em;
    padding-top: 0;
    width: 13em;
}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { /* Step 2: vertical navigation style*/;
    padding-bottom: 0; 
    padding-right: .1em; 
    border-right-width: 1px; 
    border-right-width: 1px; 
    border-bottom: 3px solid #99CCFF;
    border-left: 3px solid #99CCFF;
    border-top: 3px solid #99CCFF;
    margin-bottom: 3px;
}
.ui-tabs-vertical .ui-tabs-panel { padding: 0 1em 1em 5px; float: left; width: 40em; } /* step 2 main box change float:right to float:left;*/

table.wiz_treeitems {
    padding: 10px;
    width: 100%;
}

table.wiz_treeitems td {
    vertical-align: top;
}

table.wiz_treeitems thead {
    font-weight: bold;
    font-size: 120%;
}

table.wiz_treeitems td span.category {
    font-weight: bold;
    color: #0000c0;
}

table.wiz_treeitems td span.qty {
    font-weight: bold;
    color: #680068;
}
table.wiz_treeitems td ul.item_parts {
    list-style: disc;
    padding-left: 22px;
    font-size: 90%;
}

table.wiz_treeitems tr.igroup td {
    border-top: solid 1px gray;
    margin-top: 1em;
    padding-top: 0.3em;
    font-size: 130%;
}
table.wiz_treeitems tr.egroup td {
    border-bottom: solid 1px gray;
    margin-bottom: 0.5em;
}

table.wiz_treeitems tr.subrow td.left {
    padding-left: 2em;
}

/* Styles for step 3s */
table.group_3s_t1 {
    margin-left: 2em;
    width: 80%;
}

table.group_3s_t1 button { /* Button - Add link */
    color: #32ADFF;
    cursor: pointer;
    text-decoration: underline;
    border:none;
    font-size:1em;
    background: none;
}

table.group_3s_t1 td.left {
    width: 50%;
    color: #0066CC;
    font-weight: bold;
}

table.group_3s_t2 {
    margin-left: 2em;
    width: 80%;
}

table.group_3s_t2 td.left {
}

table.group_3s_t2 tr.cat td.left {
    color: rgb(0, 102, 204);
    font-weight: bold;
}

a.like-button {
    appearance: button;
    -moz-appearance: button;
    vertical-align: top;
    padding: 4px;
}


.wiz_form input[type="text"]{ /*step 1 input*/
    margin-top:8px;
    padding:5px;
}
.wiz_form select{ /*step 1 select*/
    margin-top:8px;
    padding:5px;
}

#submit0, table.two_cols button,
        #ss3s-1 > div#note_not_found button,
        .u0_container div.submit_button button,
        .u0_container div.submit_button button,
        .u0_container div.submit_button a.like-button,
        .u0_container div.submit_button button
{
    background-color: #F0F0F0;
    background-image: -moz-linear-gradient(center top , #FFFFFF 2%, #F0F0F0 2%, #DEDEDE 100%);
    border: 1px solid #969696;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
    color: #515151;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    outline: 0 none;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
}

#submit0:hover, #submit0:active,
        table.two_cols button:hover,
        table.two_cols button:active,
        #ss3s-1 > div#note_not_found button:hover,
        #ss3s-1 > div#note_not_found button:active,
        .u0_container div.submit_button button:hover,
        .u0_container div.submit_button button:active,
        .u0_container div.submit_button button:hover,
        .u0_container div.submit_button a.like-button:hover
{
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #818181;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
    background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border: 1px solid #666;
    box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}
.u0_container {
    background-color: #FAFAFA;
    padding: 12px;
}
.u2_form input[type="text"], .u2_form select {
    margin-top:8px;
    padding:5px;
    max-width:95%;
}
div#ss3s-2 { /*insert some margin to unstick the 2 sections of the page*/
    margin-top: 30px;
}

table#wizard_steps_indicator td {
    text-align: left;
}
table#wizard_steps_indicator td.wiz_number {
    text-align:center;
}

#ss3s-1 > div.found_product { /*Style for search results*/
    border:none;
    background-color: #FFF;
    margin-top:12px;
}
#ss3s-1 > div#note_not_found { /*style for Note in step 3*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: #99CCFF;
    background-color: #FFFFFF;
    border: medium none;
    border-color: #394865 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    font-style: italic;
    margin-top: 22px;
}
#ss3s-2 > div {
    margin-left: 36px;
}

.ui-tabs .ui-tabs-panel { /*Step 2 Products*/
    background: #FFF;
    border: 3px solid #99CCFF;
}


.error { /* Style for error message*/
    color:red;
    font-style: italic;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a#ui-id-1, .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a#ui-id-2, .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a#ui-id-3 { /*Step 2 border-bottom*/
    border-bottom: 2px solid #99CCFF;
}
/*Step 4 Table of Equipment*/
table.wiz_treeitems button {
    background:none;
    border:none;
}
table.wiz_treeitems button:hover {
    cursor:pointer;
}
table.wiz_treeitems tbody td {
    vertical-align: top;
    text-align:center;
}
table.wiz_treeitems td.left {
    width: 80%;
    text-align: left;
}

.state_ok {
    color:green;
    text-align:center;
}
.state_missing {
    color:#ff704d;
    text-align:center;
}
.state_bad {
    color:red;
    text-align:center;
    font-size:0.8em;
}

table.wiz_treeitems td span.category { 
    color: #0066CC;
    font-weight: bold;
}
table.wiz_treeitems td ul.item_parts span.category{
    color: #3284d6;
    font-weight: normal;
}
table.wiz_treeitems td ul.item_parts span.category:before{
    content:"- ";
}
table.wiz_treeitems tr {
    margin:12px 0px;
    border-bottom: 1px solid #D9D9D9;
}
table.wiz_treeitems tr.igroup td:first-child {
    text-align:left;
    font-size:1em;
}

/*Step 5*/
table.wiz_form td.wf_field div.wf_misc h4, table.wiz_form td.wf_field div.wf_auto h4 {
    font-size:1em;
    font-weight:bold;
    margin-bottom:3px;
}
table.wiz_form td.wf_field div.wf_auto {
    background-color:#f8f8f8;
    margin-bottom:15px;
    padding:3px;
    margin-bottom:15px;
}
table.wiz_form td.wf_field div.wf_auto p{
    margin:3px 0;
}
/* eof */