    #main {
        width: 90%;
    }
    #sidebar {
        width: 9%;
    }

    #repair_fields {
        border: solid 1px gray;
        border-radius: 5px;
        background: rgb(240,255,255);
    }

    #three_columns {
        margin-top: 2em;
    }

    #three_columns td {
        vertical-align: top;
        padding: 4px;
        margin: 4px;
        background: rgb(255,240,255);
        border: solid gray 1px;
        border-radius: 5px;
        width: 33%;
    }

    #three_columns th {
        vertical-align: top;
        padding: 4px;
        background: rgb(255,230,255);
        border: solid gray 1px;
        border-radius: 5px;
        font-size: 120%;
        color: rgb(32,32,32);
    }

    div.target {
        border: solid green 1px;
        background-color: #fafafa;
    }
    div.target ul, #parts_in_item ul, #item_target ul {
        min-height: 100px;
        min-width: 100px;
        padding: 6px;
    }

    ul.ui-sortable {
        min-height: 1em;
    }

    ul.ui-sortable li {
        list-style: none;
    }
    ul.ui-sortable li:not(.hint)
    {
        background: #C0FFFF;
        border: solid 1px #00C0C0;
        margin-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
    }
    ul.ui-sortable li.ui-state-highlight {
        /* the empty space as a drop target */
        height: 1.2em;
        line-height: 1.1em;
        background: #FFFFC0;
        border: solid 1px #FFA858;
    }
    ul li.hint {
        list-style: none;
        color: #b0b0b0;
        font-style: italic;
        font-size: 9pt;
        padding: 10px;
        line-height: normal;
    }
    #repair_fields td {
        vertical-align: top;
    }
    #sources h4 {
        font-size: 9pt;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 4px;
    }

#rform label.required:before {
  content: "*";
  color:red;
  /*margin-right:5px;
  margin-left: -9px;*/
}

form div.submit_button button{
  text-align: center;
  background-color: #F0F0F0;
  display: inline-block;
  float: none;
  border: 1px solid;
  outline: 0;
  font-size: 1.2em;
  background-image: -moz-linear-gradient(center top , #FFFFFF 2%, #F0F0F0 2%, #DEDEDE 100%);
  border: 1px solid #969696;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
  color: #515151;
  cursor: pointer;
  outline: 0 none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  padding: 5px;
  margin-right: 10px;
}
form div.submit_button button:hover,
form div.submit_button button:active
{
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  color: #818181;
  background-color: #fff;
  background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
  background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #666;
  box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}

/* eof */