    #main {
        width: 90%;
    }
    #sidebar {
        width: 9%;
    }

    #repair_fields {
        border: solid 1px gray;
        border-radius: 5px;
        background: rgb(240,255,255);
    }

    #three_columns {
        margin-top: 2em;
    }

    #three_columns td {
        vertical-align: top;
        padding: 4px;
        margin: 4px;
        background: rgb(255,240,255);
        border: solid gray 1px;
        border-radius: 5px;
        width: 33%;
    }

    #three_columns th {
        vertical-align: top;
        padding: 4px;
        background: rgb(255,230,255);
        border: solid gray 1px;
        border-radius: 5px;
        font-size: 120%;
        color: rgb(32,32,32);
    }

    div.target {
        border: solid green 1px;
        background-color: #fafafa;
    }
    div.target ul, #parts_in_item ul, #item_target ul {
        min-height: 100px;
        min-width: 100px;
        padding: 6px;
    }

    ul.ui-sortable {
        min-height: 1em;
    }

    ul.ui-sortable li {
        list-style: none;
    }
    ul.ui-sortable li:not(.hint)
    {
        background: #C0FFFF;
        border: solid 1px #00C0C0;
        margin-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
    }
    ul.ui-sortable li.ui-state-highlight {
        /* the empty space as a drop target */
        height: 1.2em;
        line-height: 1.1em;
        background: #FFFFC0;
        border: solid 1px #FFA858;
    }
    ul li.hint {
        list-style: none;
        color: #b0b0b0;
        font-style: italic;
        font-size: 9pt;
        padding: 10px;
        line-height: normal;
    }
    #repair_fields td {
        vertical-align: top;
    }
    #sources h4 {
        font-size: 9pt;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 4px;
    }

/* eof */