.tc {
    text-align: center;
}

#main-navigation ul li a {
  line-height: 22px;
}

.secondary-navigation ul li a {
  line-height: 23px;
}
 
table.filter_form td select {
  width: 10em;
}

.table th a {
   color: white;
}