{% extends 'generic_form_layout.html' %}
{% load i18n %}
{% load styling %}

{% block form_layout %}

<div class="content">
    <div class="group newline">
        {% field_for code %}
    </div>

    <div class="group inline">
        {% field_for code2 %}
    </div>
    <div class="group newline" style="width: 100%;">
        {% field_for name %}
    </div>
    <div class="group newline">
        {% field_for dept_type %}
    </div>

    <div class="group inline">
        {% field_for deprecate %}
    </div>
    <div class="group inline">
        {% field_for merge %}
    </div>

    <div class="group newline">
        {% field_for nom_name %}
    </div>
    <div class="group inline">
        {% field_for ota_name %}
    </div>
    <div class="group inline">
        {% field_for section_name %}
    </div>

    <div class="group newline">
        {% field_for parent %}
    </div>
    <div class="group inline">
        {% field_for serviced_by %}
    </div>

    <div class="group inline">
        {% field_for sequence %}
    </div>

    <div class="group newline">
        {% field_for note %}
    </div>

    <div style="clear: both; width=100%;"> </div>
</div>
{% endblock %}