/*--------------------------Equipment List Table---------------------------*/
.equipment-list {

  /*border: 1px solid #BBC4CD;*/
  border: 1px solid #A7B47C;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 5px #999999;
  margin: 0;
  overflow: auto;
  padding: 10px;
  width: 100%;
  border-collapse:collapse;
  font-size: 1em;
  line-height: 1.1;
  text-align: left;
}

.equipment-list tbody tr.bl_group th {
  /*top items of table*/
  /*background-color:#FFFFFF;*/
  border-top: 3px solid #A7B47C;
  font-size: 1.1em;
  text-align: left;
  color:inherit;
  border-radius:5px;
  font-weight: normal;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-top: 8px;
}

.equipment-list tbody tr.bl_group th p {
    padding-left: 18px;
    width:90%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.equipment-list tbody tr.bl_group th a {
    min-height: 18px;
    padding-left: 36px; /* double the indent, for second line */
    text-indent: -36px;
    display: block;
}
.equipment-list tbody tr.bl_group th a span {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 16px; height: 16px;
    background: url(../images/arrows-16.png) no-repeat;
    background-position: -32px 0px;
}

.equipment-list tbody tr.bl_group th a.expanded span {
    background-position: -16px 0px;
}

.equipment-list tbody tr.bl_group td { /*top -right cells of table*/
  border-bottom: 3px solid #A7B47C;
  font-size: 1.1em;
  text-align: left;
  color:inherit;
  border-radius:5px;
  font-weight: normal;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-top: 8px;
}


.equipment-list thead {
  background-color: #025C81;
  color: #FFFFFF;
}
.equipment-list thead th /*header of table*/
{
  /*background-color: #A7B47C;*/
  border-color: #fff #fff #888 #fff;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  font-weight:bold;
}


.equipment-list td {
  word-wrap: break-word;
}

.equipment-list tbody tr.bl_inrow {
    border-bottom: 1px solid #eef0f2;
}
.equipment-list tbody tr.bl_inrow:nth-child(even) {
  background-color: #eef0f2;

}
.equipment-list tbody tr.bl_inrow:nth-child(odd) {
  background-color: #FFF;
}
.equipment-list tr, .equipment-list td {
  padding:5px;
}
.equipment-list tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

.equipment-list th, td
{
  padding: .3em .5em;
}

.equipment-list tbody tr.bl_inrow td.first_col
{
  background: url(./images/tabletree-dots.gif) 18px 54% no-repeat;
  padding-left: 33px;
  font-weight:normal;
}

.equipment-list tbody tr.bl_inrow.bl_last td.first_col
{
  background: url(./images/tabletree-dots2.gif) 18px 54% no-repeat;
  padding-left: 33px;
  font-weight:normal;
}

tr.bl_group td.first_col div
{
  width:90%;
  clear:both;
}

.inner-line-pagination {
      clear:both;
      float:right;
}
.list-tools {
       width:98%;
       margin-bottom:5px;
       clear:both;
       /*overflow:auto;*/
}

.list-tools-right {
       float:right;
}
.print {
       float:left;
       background: url(../images/printer_s.png) no-repeat;
       padding-left:24px;
       font-size:11px;
       margin-right:20px;
}
.list-pagination {
       float:left;
}


.equipment-list tbody tr.bl_inner_pagination td { /*top items of table*/
    background-color: #F5F5F5;
    border-bottom: 1px solid #d6d6d6;
    vertical-align: middle;
    text-align: right;
}

.equipment-list tbody tr.bl_inner_pagination td a {
    display: inline-block;
    vertical-align: middle;
}

.equipment-list tbody tr.bl_inner_pagination td div {
    /* the text of pagination */
    font-size: 0.8em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.equipment-list tbody tr.bl_inner_pagination td a:hover {
    background-color: #E5E6E6;
}

.bl_inrow td a.cart_action span {
    background: url(../images/checkbox2.png);
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block; 
    width: 22px; height: 22px;
    vertical-align: middle; text-indent: -99999px;
}

.bl_inrow td a.cart_action.added span {
    background-position: -22px 0px;
}

tr.bl_inner_pagination span.parrow {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 16px; height: 16px;
    background: url(../images/arrows-16.png) no-repeat;
    background-position: 0px 0px;
}
tr.bl_inner_pagination span.parrow.first {
    background-position: -32px -16px;
}
tr.bl_inner_pagination span.parrow.left {
    background-position: 0px -16px;
}
tr.bl_inner_pagination span.parrow.right {
    background-position: -16px -16px;
}
tr.bl_inner_pagination span.parrow.last {
    background-position: -48px -16px;
}

/*eof */
