{% extends "base.html" %}
{% load i18n %}
{% load generic_views_helpers %}
{% load pagination_tags %}
{% load navigation %}
{% load carts %}
{% block title %} :: {% blocktrans %}{{ title }}{% endblocktrans %}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
/*--------------------------Equipment List Table---------------------------*/
.equipment-list {

  /*border: 1px solid #BBC4CD;*/
  border: 1px solid #A7B47C;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 5px #999999;
  margin: 0;
  overflow: auto;
  padding: 10px;
  width: 100%;
  border-collapse:collapse;
  font-size: 1em;
  line-height: 1.1;
  text-align: left;
}

.equipment-list tbody tr.bl_group th { /*top items of table*/
  /*background-color:#FFFFFF;*/
  
  border-bottom: 3px solid #A7B47C;
  font-size: 1.1em;
  text-align: left;
  color:inherit;
  border-radius:5px;
  font-weight: normal;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-top: 8px;
}
.equipment-list tbody tr.bl_group th p {
    padding-left: 18px;
    width:90%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.equipment-list tbody tr.bl_group th a {
    background: url({{ STATIC_URL}}css/images/arrow_right2.png) no-repeat;
    min-height: 18px;
    background-position: 0px 0px;
    padding-left: 18px;
    display: block;
}

.equipment-list tbody tr.bl_group th a.expanded {
    background: url({{ STATIC_URL}}css/images/tabletree-arrow.gif) no-repeat;
    background-position: 4px 4px;
}

.equipment-list tbody tr.bl_group td { /*top -right cells of table*/
  border-bottom: 3px solid #A7B47C;
  font-size: 1.1em;
  text-align: left;
  color:inherit;
  border-radius:5px;
  font-weight: normal;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-top: 8px;
}


.equipment-list th.name { width: 60%; }
.equipment-list th.serial_number { width: 5%; }
.equipment-list th.location { width: 15%; }
.equipment-list th.contract{ width: 15%; }
.equipment-list th.action{ width: 5%; }

.equipment-list thead {
  background-color: #025C81;
  color: #FFFFFF;
}
.equipment-list thead th /*header of table*/
{
  /*background-color: #A7B47C;*/
  border-color: #fff #fff #888 #fff;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  font-weight:bold;
}


.equipment-list td {
  word-wrap: break-word;
}

.equipment-list tbody tr:nth-child(even) {
  background-color: #eef0f2;
}
.equipment-list tbody tr:nth-child(odd) {
  background-color: #FFF;
}
.equipment-list tr, .equipment-list td {
  padding:5px;
}
.equipment-list tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

.equipment-list th, td
{
  padding: .3em .5em;
}

.equipment-list tbody tr.bl_inrow td.first_col
{
  background: url({{ STATIC_URL}}css/images/tabletree-dots.gif) 18px 54% no-repeat;
  padding-left: 33px;
  font-weight:normal;
}

.equipment-list tbody tr.bl_inrow.bl_last td.first_col
{
  background: url({{ STATIC_URL}}css/images/tabletree-dots2.gif) 18px 54% no-repeat;
  padding-left: 33px;
  font-weight:normal;
}

tr.bl_group td.first_col div
{
  width:90%;
  clear:both;
}

.inner-line-pagination {
      clear:both;
      float:right;
}
.list-tools {
       width:98%;
       margin-bottom:5px;
       clear:both;
       /*overflow:auto;*/
}

.list-tools-right {
       float:right;
}
.print {
       float:left;
       background: url(images/printer_s.png) no-repeat;
       padding-left:24px;
       font-size:11px;
       margin-right:20px;
}
.list-pagination {
       float:left;
}


.equipment-list tbody tr.bl_inner_pagination td { /*top items of table*/
    background-color: #F5F5F5;
    border-bottom: 1px solid #d6d6d6;
    vertical-align: middle;
    text-align: right;
}
.equipment-list tbody th.inner-pagination-bottom { /*top items of table*/
  /*-* remove */
  background-color: #F5F5F5;
  border-top: 1px solid #d6d6d6;
}

.equipment-list tbody tr.bl_inner_pagination td span {
    /* the text of pagination */
   font-size: 0.8em;
   font-weight: normal;
   /*float:left;*/
   margin-top:3px;
}
.equipment-list tbody tr.bl_inner_pagination td a:hover {
    background-color: #E5E6E6;
}

.bl_inrow td a.cart_action span {
    background: url({{ STATIC_URL}}/images/checkbox2.png);
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block; 
    width: 22px; height: 22px;
    vertical-align: middle; text-indent: -99999px;
}

.bl_inrow td a.cart_action.added span {
    background-position: -22px 0px;
}

    </style>
{% endblock %}

{% block content %}

<div class="block">
    <div class="content">
    <h3 class="title">
        {% ifnotequal page_obj.paginator.num_pages 1 %}
            {% with page_obj.start_index as start and page_obj.end_index as end and page_obj.paginator.count as total %}{{ title }} ({{ start }} - {{ end }} out of {{ total }}){% endwith %}
        {% else %}
            {% with page_obj.paginator.count as total %}{{ title }} ({{ total }}){% endwith %}
        {% endifnotequal %}
    </h3>

<div class="inner">

  <form action="#" class="form" id="bl_list_form" method="POST">
    {% csrf_token %}
    {% comment %}
    <div class="list-tools">
        <div class="list-tools-right">
            <div class="print">
                <a class="graylink" href="#" title="Εκτύπωση">Εκτύπωση</a>
            </div>
            <div class="list-pagination">
            </div>
        </div>
    </div>
    {% endcomment %}

    {% paginate %}
    <table class="equipment-list">
    <thead>
        <tr>
        {% for col in columns %}
        <th class="{{col.attribute|default:'name'}}">
                {{ col.name|capfirst }}
        {% if col.url_spanclass %}<span class="{{ col.url_spanclass }}"></span>{% endif %}
        {% if col.subrows %}{% for row in col.subrows %}<br/>
                {{ row.name|capfirst }}
        {% endfor %}{%endif %}
        </th>
        {% endfor %}
        {% if not hide_links %}<th class="">{% trans 'Actions' %}</th>{% endif %}
        {% if request.session.carts %}<th class="">{% trans 'Select' %}</th>{% endif %}
</tr>
    </thead>

    <tbody>
        {# Render groupped results #}
        {% for group in group_results %}
            <tr class="bl_group">
            {% if group_fields %}{% for gf in group_fields %}
                <th {% if gf.colspan %}colspan="{{ gf.colspan }}"{% endif %}{% if forloop.first %}class="first_col"{% endif %}>
                    {% if gf.superrows %}{% for sr in gf.superrows %}
                        <p>{{ group.group|object_property:sr.attribute }}</p>
                    {% endfor %}{% endif %}
                    {% if forloop.first %}
                        <a href="{{ group.url }}" class="{% if not group.items %}normal{% else %}expanded{% endif %}">
                    {% endif %}
                    {% if gf.attribute %}{{ group.group|object_property:gf.attribute }}{% else %}{{ group.group }}{% endif %}
                    {% if forloop.first %}({{group.items_count}}) </a>{% endif %}
                </th>
            {% endfor %}{% else %}
                <td colspan="{{ columns|length}}"><a href="{{ group.url }}"> {{ group.group }} ({{group.items_count }}) </a>
                </td>
            {% endif %}
            {% if not hide_links %}<td class=""></td>{% endif %}
            {% if request.session.carts %}<td class=""></td>{% endif %}
            </tr>
            {% if group.items %}
            
            {% if sub_offset >= 0 %}
                <tr class="bl_inner_pagination">
                    <td class="first_col"></td>
                    <td colspan="8">
                    {% if sub_offset_prev %}
                        <a href="?{{sub_getvars}}sub_offset=0" title="{% trans 'First page' %}"><img src="{{ STATIC_URL}}images/double_arrow_left.png" width="16px" height="16px"/></a>
                        <a href="?{{sub_getvars}}sub_offset={{sub_offset_prev}}" title="{% trans 'Previous page' %}"><img src="{{ STATIC_URL}}images/arrow_left.png" width="16px" height="16px"/></a>
                    {% else %}<img src="{{ STATIC_URL}}images/double_arrow_left.png" width="16px" height="16px"/>
                              <img src="{{ STATIC_URL}}images/arrow_left.png" width="16px" height="16px"/>
                    {% endif %}
                    <span>{{ sub_offset }}</span>
                    {% if sub_offset_next %}
                        <a href="?{{sub_getvars}}sub_offset={{sub_offset_next}}" title="{% trans 'Next page' %}"><img src="{{ STATIC_URL}}images/arrow_right.png" width="16px" height="16px"/></a>
                        <a href="?{{sub_getvars}}sub_offset={{sub_offset_last}}" title="{% trans 'Last page' %}"><img src="{{ STATIC_URL}}images/double_arrow_right.png" width="16px" height="16px"/></a>
                    {% else %}<img src="{{ STATIC_URL}}images/arrow_right.png" width="16px" height="16px"/>
                        <img src="{{ STATIC_URL}}images/double_arrow_right.png" width="16px" height="16px"/>
                    {% endif %}
                    </td>
                </tr>
            {% endif %}

                {% for object in group.items %}
                <tr class="bl_inrow {% cycle 'odd' 'even2' %} {% if forloop.last %}bl_last{% endif %}">
            {% for col in columns %}
                {% if not col.attribute %}
                    {% if main_object %}
                    {% with object|object_property:main_object as object %}
                        <td {% if forloop.first %}class="first_col"{% endif %}>{% if not hide_link %}<a href="{{ object|object_property:url_attribute }}">{{ object }}</a>{% else %}{{ object }}{% endif %}
                    {% endwith %}
                    {% else %}
                        <td {% if forloop.first %}class="first_col"{% endif %}>{% if not hide_link %}<a href="{{ object|object_property:url_attribute }}">{{ object }}</a>{% else %}{{ object }}{% endif %}
                    {% endif %}
                {% else %}
                    <td {% if forloop.first %}class="first_col"{% endif %}>{{ object|object_property:col.attribute|default_if_none:'' }}
                {% endif %}
                {% if col.subrows %}{% for row in col.subrows %}<br/>
                        {{ object|object_property:row.attribute }}
                {% endfor %}{%endif %}
                </td>
            {% endfor %}
            {% if not hide_links %}
                <td class='last'>
                {% object_navigation_template %}
                </td>
            {% endif %}
            {% if request.session.carts %}
                {% object_carts object %}
            {% endif %}
            </tr>
            {% endfor %}{% endif %}
        {% empty %}
            <tr><td colspan=99 class="tc">{% blocktrans %}There are no {{ title }}{% endblocktrans %}</td></tr>
        {% endfor %}

    </tbody>
</table>
    {% paginate %}
    {% object_list_carts object_list %}
  </form>
</div>
</div>

    {% for subform in subforms_dict %}
    {% with subform.title as title %}
    {% with subform.extra_columns as extra_columns %}
    {% with subform.form as form %}
        {% include subform.name %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}
