{% extends "page.rml" %}
{% load i18n %}
{% block title %} :: {{ object.name }}{% endblock %}

{% block extrastyles %}
    <blockTableStyle id="Table_1">
        <blockAlignment value="CENTER"/>
        <blockAlignment value="LEFT" start="1,0" stop="1,-1"/>
        <blockAlignment value="LEFT" start="4,0" stop="3,-1"/>
        <blockValign value="MIDDLE"/>
        <blockValign value="BOTTOM" start="0,0" stop="-1,0" />
        <blockValign value="TOP" start="0,1" stop="2,-1" />

      
        <lineStyle kind="LINEBELOW" thickness="2.0" colorName="#000000" start="0,0" stop="-1,0"/>
        <lineStyle kind="INNERGRID" thickness="0.4" colorName="gray" start="0,1" stop="-1,-1"/>
    </blockTableStyle>
    <paraStyle name="Details" fontName="Helvetica" fontSize="10.0" leading="14"
            spaceBefore="12.0" spaceAfter="26.0"/>
    <paraStyle name="Table_title" fontName="Helvetica-Bold" fontSize="11.0" leading="12"/>
    <paraStyle name="Bundled_li1" fontSize="9.0" fontName="Helvetica" leading="9.0" leftIndent="6.0"/>
    <paraStyle name="Bundled_li2" fontSize="9.0" fontName="Helvetica" leading="9.0" leftIndent="12.0"/>
    <paraStyle name="Bundled_li3" fontSize="9.0" fontName="Helvetica" leading="9.0" leftIndent="18.0"/>
    <paraStyle name="Bundled_li4" fontSize="9.0" fontName="Helvetica" leading="9.0" leftIndent="22.0"/>
    <paraStyle name="Category" fontSize="8.0" fontName="Helvetica" leading="8.4" leftIndent="11.0"/>
{% endblock %}

{% block content %}
<title>{% trans 'Department assets list:' %} {{ object.name }}</title>
<para style="Details">{% trans 'At' %}: {{ now|date:"d/m/Y" }} </para>

<para> </para>
{% for loc, items in locations %}
<h2>{{ loc.name }}</h2>
<blockTable colWidths="20.0mm,110.0mm,40.0mm" style="Table_1">
      <tr>
        <td><para style="Table_title">{% trans 'ID' %}</para></td>
        <td><para style="Table_title">{% trans 'Item' %}</para></td>
        <td><para style="Table_title">{% trans 'Notes' %}</para></td>
      </tr>
    {% for line in items.all %}
    <tr>
        <td><para>{{ line.property_number }}</para></td>
        <td><para>{{ line.item_template }} {{ line.serial_number|default:'' }}</para>
            <para style="Category">{{ line.item_template.category }} </para>
            {% if line.item_template.category.is_bundle and line.itemgroup %}
            {% for line in line.itemgroup.items.all  %}
                <para style="Bundled_li1">- {{ line }}{% if line.qty > 1 %} x{{line.qty}}{%endif %}</para>
                {% if line.item_template.category.is_bundle and line.itemgroup and line.itemgroup.items.count %}
                    {% for line in line.itemgroup.items.all  %}
                        <para style="Bundled_li2">+ {{ line }}{% if line.qty > 1 %} x{{line.qty}}{%endif %}</para>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% endif %}
        </td>
        <td>{% if line.state %}<para>{{ line.state}}</para>{% endif %}
            {% if line.notes %}<para>{{ line.notes}}<para>{% endif %}</td>
    </tr>
    {% endfor %}
    </blockTable>
{% endfor %}
{% endblock %}
