{% extends 'generic_form_layout.html' %}
{% load i18n %}
{% load styling %}

{% block form_layout %}

<div class="content">
    <div class="group newline">
        {% field_for property_number read_only %}
    </div>
    <div class="group inline">
        {% field_for serial_number %}
    </div>

    <div class="group newline">
        {% field_for item_template read_only %}
    </div>
    <div class="group newline">
        {% field_for items read_only %}
    </div>

    <div class="group newline" {% if not read_only %}title="{% trans 'The location can only be changed through movements of this asset' %}"{% endif %}>
        {% field_for location read_only%}
    </div>
    <div class="group inline">
        {% field_for active read_only %}
    </div>

    <div class="group newline">
        {% field_for notes %}
    </div>
    <div style="clear: both;"> </div>

</div>
{% endblock %}
