.tc {
    text-align: center;
}

#main-navigation ul li a {
  line-height: 22px;
}

.secondary-navigation ul li a {
  line-height: 23px;
}

#user-navigation ul li {
    color: #ebebeb;
}

table.filter_form td select {
  width: 10em;
  /* konqueror ? */
}

.table th a {
   color: white;
}

.table tr.bl_group th {
	background: #038058;
}

.table tr.bl_group td {
	background: #A3F2BB;
}

.table tr.bl_inrow th.first_col {
	padding-left: 24px;
}
.table tr.bl_inrow td.first_col {
	padding-left: 24px;
}
.table tr.bl_group td.first_col {
	padding-left: 0px;
}

a.delete-row {
    width: 16px; height: 16px; background-image: url("images/ui-icons_444444_256x240.png");
    display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat;
    background-position: -176px -96px;
}

input.integer {
    width: 4em;
}

input.decimal {
    width: 7em;
}

/*ul.subtasks {
    padding-left: 0;
}*/

/*------------------------------Form Style----------------------------*/


/*-*/
label#id_name {
  width:30%;
  float:left;
}

.filter_form input#id_product_name {
  width:100%
}

.filter_form input#id_contract_text {
  width:100%;
}
#id_contract_wrapper {
  width:30%;
}



/*---------------------changes for movements/purchase/order/80/ page --------------------*/



/* -------------------- Buttons --------------------- */


.buttons-line{
  margin-top: 25px;
  overflow: auto;
  width: 100%;
}
.graybtn {
  text-align: center;
  background-color: #F0F0F0;
  display: block;
  border: 1px solid;
  outline: 0;
  font-size: 1.2em;
  background-image: -moz-linear-gradient(center top , #FFFFFF 2%, #F0F0F0 2%, #DEDEDE 100%);
  border: 1px solid #969696;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
  color: #515151;
  cursor: pointer;
  outline: 0 none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  padding:5px 20px;
}
.graybtn:hover, .graybtn:active, .searchbtn:hover, .searchbtn:active{
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  color: #818181;
  background-color: #fff;
  background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
  background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #666;
  box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}
a.graybtn {
  text-align: center;
  background-color: #F0F0F0;
  display: block;
  float: left;
  border: 1px solid;
  outline: 0;
  font-size: 1.2em;
  background-image: -moz-linear-gradient(center top , #FFFFFF 2%, #F0F0F0 2%, #DEDEDE 100%);
  border: 1px solid #969696;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
  color: #515151;
  cursor: pointer;
  outline: 0 none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

a.graybtn:hover, a.graybtn:active{
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  color: #818181;
  background-color: #fff;
  background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
  background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #666;
  box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}

/* --------------------Home changes------------------*/




