.tc {
    text-align: center;
}

#main-navigation ul li a {
  line-height: 22px;
}

.secondary-navigation ul li a {
  line-height: 23px;
}

#user-navigation ul li {
    color: #ebebeb;
}

table.filter_form td select {
  width: 10em;
  /* konqueror ? */
}

.table th a {
   color: white;
}

.table tr.bl_group th {
	background: #038058;
}

.table tr.bl_group td {
	background: #A3F2BB;
}

.table tr.bl_inrow th.first_col {
	padding-left: 24px;
}
.table tr.bl_inrow td.first_col {
	padding-left: 24px;
}
.table tr.bl_group td.first_col {
	padding-left: 0px;
}

a.delete-row {
    width: 16px; height: 16px; background-image: url("images/ui-icons_444444_256x240.png");
    display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat;
    background-position: -176px -96px;
}

input.integer {
    width: 4em;
}

input.decimal {
    width: 7em;
}

ul.subtasks {
    padding-left: 2em;
}
